@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.625rem;
    --background: 255 255 255;
    --foreground: 14 16 26;
    --card: 255 255 255;
    --card-foreground: 14 16 26;
    --popover: 255 255 255;
    --popover-foreground: 14 16 26;
    --primary: 52 53 41;
    --primary-foreground: 251 251 251;
    --secondary: 248 250 252;
    --secondary-foreground: 52 53 41;
    --muted: 248 250 252;
    --muted-foreground: 100 116 139;
    --accent: 248 250 252;
    --accent-foreground: 52 53 41;
    --destructive: 220 38 38;
    --border: 220 220 220;
    --input: 220 220 220;
    --ring: 180 180 180;
  }

  .dark {
    --background: 14 16 26;
    --foreground: 250 250 250;
    --card: 52 53 41;
    --card-foreground: 250 250 250;
    --popover: 52 53 41;
    --popover-foreground: 250 250 250;
    --primary: 235 244 248;
    --primary-foreground: 250 250 250;
    --secondary: 69 87 102;
    --secondary-foreground: 250 250 250;
    --muted: 69 87 102;
    --muted-foreground: 181 192 202;
    --accent: 69 87 102;
    --accent-foreground: 250 250 250;
    --destructive: 249 62 42;
    --border: 40 40 40;
    --input: 40 40 40;
    --ring: 141 161 197;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
  }
}
